-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => 'criteria' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", '1', @ratings != nil && @ratings.include?(rating)
  = hidden_field_tag "order", @order
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{:class => "#{params[:order] == 'title' ? 'hilite' : ''}"}
        = link_to_function 'Movie Title', "$('#order').val('title'); $('#criteria').submit()", :id => 'title_header'
      %th Rating
      %th{:class => "#{params[:order] == 'release_date' ? 'hilite' : ''}"}
        = link_to_function 'Release Date', "$('#order').val('release_date'); $('#criteria').submit()", :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
